
/* CSS for my Garmin Apps
 */
  
.pill-width {
    width: 60px;
    text-align: left;
}    
.pillz-width {
    width: 115px;
    text-align: left;
}    

.bg-z1 {
    background-color: #AAAAAA !important;
  }
.bg-z2 {
    background-color: #00AAFF !important;
}
.bg-z3 {
    background-color: #55FF00 !important;
  }
.bg-z4 {
    background-color: #FFCC00 !important;
}
.bg-z5 {
    background-color: #FF0000 !important;
}
.bg-z6 {
    background-color: #FFAAFF !important;
}
.bg-z7 {
    background-color: #FF00FF !important;
}

.bg-bs1 {
    background-color: #55FF00 !important;
}
.bg-bs2 {
    background-color: #00AAFF !important;
}
.bg-bs3 {
    background-color: #FFCC00 !important;
}
.bg-bs4 {
    background-color: #FF0000 !important;
}
.bg-bs5 {
    background-color: #BBBBBB !important;
}
.bg-bs6 {
    background-color: #00FFAA !important;
}
.bg-bs7 {
    background-color: #FFFFAA !important;
}
.bg-bs8 {
    background-color: #FFAA55 !important;
}
.bg-black {
    background-color: #000000 !important;
}
.bg-white {
    background-color: #FFFFFF !important;
}
.bg-dkblue {
    background-color: #000055 !important;
}
.bg-dkgreen {
    background-color: #005500 !important;
}
.bg-dkred {
    background-color: #550000 !important;
}
.bg-dkgrey {
    background-color: #555555 !important;
}
.bg-blue {
    background-color: #0000AA !important;
}
.bg-grey {
    background-color: #AAAAAA !important;
}


