
/* CSS for my Garmin Apps
 */

.bg-z1 {
    background-color: #AAAAAA !important;
  }
.bg-z2 {
    background-color: #00AAFF !important;
}
.bg-z3 {
    background-color: #55FF00 !important;
  }
.bg-z4 {
    background-color: #FFCC00 !important;
}
.bg-z5 {
    background-color: #FF0000 !important;
}
.bg-z6 {
    background-color: #FFAAFF !important;
}
.bg-z7 {
    background-color: #FF00FF !important;
}

.bg-bs1 {
    background-color: #55FF00 !important;
}
.bg-bs2 {
    background-color: #00AAFF !important;
}
.bg-bs3 {
    background-color: #FFCC00 !important;
}
.bg-bs4 {
    background-color: #FF0000 !important;
}

  