
/* CSS for my Garmin Apps
 */

.carousel-cap-garm {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #FFCC00;
    text-align: center;
}
  
.pill-width {
    width: 60px;
    text-align: left;
}    
.pillz-width {
    width: 115px;
    text-align: left;
}    

.bg-z1 {
    background-color: #AAAAAA !important;
  }
.bg-z2 {
    background-color: #00AAFF !important;
}
.bg-z3 {
    background-color: #55FF00 !important;
  }
.bg-z4 {
    background-color: #FFCC00 !important;
}
.bg-z5 {
    background-color: #FF0000 !important;
}
.bg-z6 {
    background-color: #FFAAFF !important;
}
.bg-z7 {
    background-color: #FF00FF !important;
}

.bg-bs1 {
    background-color: #55FF00 !important;
}
.bg-bs2 {
    background-color: #00AAFF !important;
}
.bg-bs3 {
    background-color: #FFCC00 !important;
}
.bg-bs4 {
    background-color: #FF0000 !important;
}
.bg-bs5 {
    background-color: #BBBBBB !important;
}
.bg-bs6 {
    background-color: #00FFAA !important;
}
.bg-bs7 {
    background-color: #FFFFAA !important;
}
.bg-bs8 {
    background-color: #FFAA55 !important;
}

